.fifth-content{
    margin: auto;
    margin-top: 3rem;
    font-family: 'Roboto' ,sans-serif;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.leftcard{
    background-color: #F7F7F7;
    padding: 0.8rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}
.name{
    font-weight: 700;
    font-size: 30px;
}
.state{
    font-size: 30px;
    font-weight: 700;
}
.feedback{
    font-size: 23px;
    width: 25rem;
}
@media (max-width:1120px) {
    .name{
        font-size: 22px;
    }
    .state{
        font-size: 22px;
    }
    .feedback{
        font-size: 16px;
        width: 20rem;
    }
}
@media (max-width:920px) {
    .fifth-content{
        margin-top: 1.5rem;
        gap: 1.5rem;
        /* width: 90%; */
    }
    .leftcard{
        padding: 0.5rem 0.5rem;
    }
    .name,
    .state{
        font-size: 17px;
    }
    .feedback{
        font-size: 12px;
        width: 15rem;
    }
}
@media (max-width:600px) {
    .fifth-content{
        margin-top: 0.5rem;
        gap: 0.5rem;
    }
    .leftcard{
        row-gap: 6px;
    }
}